<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .authors tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

    </style>
</head>
<body>
<h3>Persons:</h3>

<table class="authors">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.name}">Lermontov</td>
        <td>
            <a th:href="@{/authors/edit(id=${author.id})}" href="#" >Edit</a>
        </td>
        <td>
            <a th:href="@{/authors/delete(id=${author.id})}" href="#" >Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div><a href="edit.html" >Add author</a></div>
<div><a href="/">Exit</a></div>

</body>
</html>