<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form id="edit-form" action="edit.html" th:action="@{/books/edit(id=${book.id})}" th:method="post" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" th:value="*{name}" value="Evgenii Onegin"/>
    </div>

    <div class="row">
        <label for="authorMongo-name">Author:</label>
        <select id="authorMongo-name" name="authorMongo.name" required="required" th:field="*{authorMongo.name}">
            <option th:each="authorMongo : ${authors}" th:text="${authorMongo.name}" th:value="${authorMongo.name}">
            </option>
        </select>
    </div>

    <div class="row">
        <label for="genreMongo-name">Genre:</label>
        <select id="genreMongo-name" name="genreMongo.name" required="required" th:field="*{genreMongo.name}">
            <option th:each="genreMongo : ${genres}" th:text="${genreMongo.name}" th:value="${genreMongo.name}" >
            </option>
        </select>
    </div>

    <br><br>

    <div class="row">
        <button type="submit">Save</button>
        <button onclick="window.location.href='/books'" type="button">Cancel</button>
    </div>
</form>

</body>
</html>