<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form id="edit-form" action="edit.html" th:action="@{/books/edit(id=${book.id})}" th:method="post" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" th:value="*{name}" value="Evgenii Onegin"/>
        <!--        <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Wrong person name error</div>-->
    </div>


    <div class="row">
        <label for="author-name-input">Author:</label>
        <input id="author-name-input" name="author.name" type="text" th:value="*{author.name}" value="Pushkin"/>
        <!--        <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Wrong person name error</div>-->
    </div>


    <div class="row">
        <label for="genre-name-input">Genre:</label>
        <input id="genre-name-input" name="genre.name" type="text" th:value="*{genre.name}" value="Poem"/>
        <!--        <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Wrong person name error</div>-->
    </div>

    <br><br>

    <div class="row">
        <button type="submit">Save</button>
        <button onclick="window.location.href='/books'" type="button">Cancel</button>
    </div>
</form>

</body>
</html>