<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .genres {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .genres tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

    </style>
</head>
<body>
<h3>Genres:</h3>

<table class="genres">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.name}">Novel</td>
        <td>
            <a th:href="@{/genres/edit(id=${genre.id})}" href="#" >Edit</a>
        </td>
        <td>
            <a th:href="@{/genres/delete(id=${genre.id})}" href="#" >Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<br><br>

<div><a href="/genres/create" >Add genre</a></div>
<div><a href="/">Exit</a></div>

</body>
</html>